.title {
font-size: 60px;
color: red;
text-align: center;
}

.title-r1,
.title-r2,
.title-r3 {
color: red;
text-align: center;
}

.main-list {
color: blue;
font-weight: bold;
}

.text{
font-family: 'Times New Roman', Times, serif;
font-size: 16px;
color: white;
background-color: purple;
}

.step-edit {
font-weight: bold;
color: green; 
}

